<div class="container">
  <div *ngIf="afAuth.authState | async as user; else login">
    <!-- <div class="card" style="width: 18rem;">
          <img [src]="user.photoURL" class="card-img-top" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{user.displayName}}</h5>
            <p class="card-text">{{user.email}}</p>
            <a (click)="logout()" class="btn btn-primary">Logout</a>
          </div>
        </div>-->
        <app-user-details></app-user-details>
  </div>
  <ng-template #login>
     <div class="row" *ngIf="authservice.phoneSignIn; else loginOptions">
        <app-phone-signin></app-phone-signin>
    </div>
  <ng-template #loginOptions>
      <app-login-options></app-login-options>
      <app-signin-signup></app-signin-signup>
  </ng-template>
  </ng-template>
 
</div> 